// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  padding-top: 13px;

}

input{
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #262626 !important;
  font-size: 14px !important;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

input[placeholder]{
  text-align: center;
}
